.nazov_clanku {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}

.datum {
  font-size: 1.3rem;
  text-align: center;
}

.text {
  max-width: 800px;
  overflow-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
}
