.nazov{
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
}

.datum{
	font-size: 1.3rem;
	text-align: center;
}

.text{
	max-width: 1200px;
	overflow-wrap: break-word;
	margin-left: 20%;
	margin-right: 20%;
}