.card_blog {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
	height: 26.5rem;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
	overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
	transition: 0.5s;

	&:hover{
		transform: scale(1.07);
	}
}

.post {   
  float: left;
  width: 25%;
  background-color: #f1f1f1;
	padding-right: 1.25%;
	padding-left: 1.25%;

	@media screen and (max-width: 800px) {  
		width: 100%;
		padding: 0;
	}
}

.nazov{
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
}

.datum{
	font-size: 1.1rem;
	text-align: center;
}