.card_blog {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  height: 200px;
}

.prvy {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-right: 1.25%;
}

@media screen and (max-width: 800px) {
  .prvy {
    width: 100%;
    padding: 0;
  }
}

.stred {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 1.25%;
  padding-right: 1.25%;
}

@media screen and (max-width: 800px) {
  .stred {
    width: 100%;
    padding: 0;
  }
}

.kraj {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 1.25%;
}

@media screen and (max-width: 800px) {
  .kraj {
    width: 100%;
    padding: 0;
  }
}
