.card_blog {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  height: 350px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card_blog:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.post {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-right: 1.25%;
  padding-left: 1.25%;
}

@media screen and (max-width: 800px) {
  .post {
    width: 100%;
    padding: 0;
  }
}
