.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  overflow-wrap: break-word;
}

@media (max-width: 600px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.2rem;
    font-size: 12px;
  }
}
