* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, serif;
  padding: 10px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  background: white;
  text-align: center;
}

.header .headerImage a img {
  width: 100px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid transparent;
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
}

.header .headerImage a img:hover {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  border: 2px solid black;
}

.header > h1 {
  font-size: 50px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.leftcolumn {
  float: left;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .leftcolumn {
    width: 100%;
    padding: 0;
  }
}

.rightcolumn {
  float: left;
  width: 50%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

@media screen and (max-width: 800px) {
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.column {
  float: right;
  width: 60%;
}

.block {
  text-align: justify;
  text-justify: inter-word;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  overflow-wrap: break-word;
}

@media (max-width: 600px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.2rem;
    font-size: 12px;
  }
}
