@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap');

*{
	box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
	padding: 10px;
	background: #f1f1f1;
	font-size: 1.2rem;
	font-family: 'Playfair Display', serif;
	font-family: 'Roboto', sans-serif;
}

.leftcolumn {   
  float: left;
  width: 50%;
  padding-right: 1.25%;

	@media screen and (max-width: 800px) {  
		width: 100%;
		padding: 0;
	}
}

.rightcolumn {
  float: left;
  width: 50%;
  background-color: #f1f1f1;
  padding-left: 1.25;

	@media screen and (max-width: 800px) {  
		width: 100%;
		padding: 0;
	}
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
  text-align: justify;
  text-justify: inter-word;
}

.row{

	&:after {
  	content: "";
  	display: table;
  	clear: both;
	}
}