.header {
  padding: 30px;
  background: white;
  text-align: center;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.header .headerImage a img {
  width: 100px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid transparent;
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
}

.header .headerImage a img:hover {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  border: 2px solid black;
}

.header > h1 {
  font-size: 50px;
}
