.topnav{
	overflow: hidden;
  background-color: #333;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);

	a{
    float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		transition: 0.6s;

		&:hover{
			background-color: #ddd;
			color: black;
		}

		@media screen and (max-width: 400px) {
			float: none;
			width: 100%;
		}
	}
}