.blog{
	display: grid;
	text-align: center;
}

.blogcontainer{
	display: grid;
	margin-left: 25%;
	margin-right: 75%;
	place-items: center;
}

.post{
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  overflow-wrap: break-word;
	transition: 0.5s;
}

.blog .blogcontainer .post:hover{
	transform: scale(1.1);
}